.wordDiv{
	padding: 20px;
}

.correct{
	color: lightgray;
	background-color: 
}

.messageDiv{
	margin-top: 10px;
	color: white;
}

.background{
	font-size: 20px;
	background-color: #893cb4;
}

.guessDiv1{
	color: white;
}
.guessDiv2{
	height: 100px;
	color: white;
}

#hangman{
	background-image: url("images/hangmanimg.gif");
	background-size: 400px;
	background-repeat: no-repeat;
	margin-top: 100px;
	height: 400px;
	padding: 25px;
}


.addHead{
	background-image: url("images/circle.png");
	background-size: 75px;
	background-repeat: no-repeat;
	height: 75px;
	width: 100px;
	margin-left: 210px;
    margin-top: 47px;
}

.addBody{
	background-image: url("images/body.png");
	background-size: 10px;
	background-repeat: no-repeat;
	height: 150px;
	width: 100px;
	margin-left: 242px;
}

.addRArm{
	background-image: url("images/right-arm.png");
	background-size: 50px;
	background-repeat: no-repeat;
	height: 150px;
	width: 100px;
	margin-left: 0px;
	transform: 
}

.addLArm{
	background-image: url("images/left-arm.png");
	background-size: 50px;
	background-repeat: no-repeat;
	height: 150px;
	width: 100px;
	margin-left: -40px;
	margin-top: -150px;
}

.addRLeg{
	background-image: url("images/right-leg.png");
	background-size: 50px;
	background-repeat: no-repeat;
	height: 150px;
	width: 100px;
	margin-left: -48px;
    margin-top: -5px;
}

.addLLeg{
	background-image: url("images/left-leg.png");
	background-size: 50px;
	background-repeat: no-repeat;
	height: 150px;
	width: 100px;
	margin-left: 8px;
	margin-top: -150px;
}

.addSFace{
	background-image: url("images/frowny-face.png");
	background-size: 50px;
	height: 75px;
	width: 50px;
    background-repeat: no-repeat;
    margin-left: 10px;
	
}


.box{
	width: 75px;
	height: 75px;
	border: 2px solid white;
	/*width: 20px;
	padding: 20px;*/
	color: rgba(0,0,0,0);
	margin: 0 auto;
	text-align: center;
	padding: 5px;
	column-width: 110px;
 	-webkit-column-width: 110px;
 	-moz-column-width: 110px;
 	border-radius: 25px
}

#gameTitle{
	color: white;
	text-shadow: 2px 2px black
}

#resetButton {
	margin-top: 10px;
}

#scoreboard{
	height: 250px;
	width: 300px;
	border: 2px solid white;
	color: white;
	margin-left: 500px;
	margin-top: 50px;
	text-align: center;

}

#wins{
	height: 100px;
	width: 300px;
	top-margin: 50px;
	text-align: center;
}

#losses{
	height: 100px;
	width: 300px;
	text-align: center;
}

