.wordDiv{
	padding: 20px;
}

td{
	border: 1px solid black;
	width: 20px;
	padding: 20px;
	color: rgba(0,0,0,0);
	margin: 0 auto;
	text-align: center;
	padding: 5px;
	column-width: 110px;
 	-webkit-column-width: 110px;
 	-moz-column-width: 110px;
}


.correct{
	color: blue;
}

.hangmanShow{
	border: 2px solid red;
}

body{
	font-size: 20px;
}

.guessDiv2{
	height: 100px;
}

#hangman{
	background-image: url("hangmanimg.gif");
	background-size: 400px;
	background-repeat: no-repeat;
	height: 400px;
	padding: 25px;
}


.addHead{
	background-image: url("circle.png");
	background-size: 75px;
	background-repeat: no-repeat;
	height: 75px;
	margin-left: 210px;
	margin-top: 45px;
}

.addBody{
	background-image: url("body.png");
	background-size: 10px;
	background-repeat: no-repeat;
	height: 150px;
	margin-left: 242px;
}

.addRArm{
	background-image: url("right-arm.png");
	background-size: 50px;
	background-repeat: no-repeat;
	height: 150px;
	margin-left: 0px;
	transform: 
}

.addLArm{
	background-image: url("left-arm.png");
	background-size: 50px;
	background-repeat: no-repeat;
	height: 150px;
	margin-left: -10px;
	margin-top: -102px;
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
}

.addRLeg{
	background-image: url("right-leg.png");
	background-size: 50px;
	background-repeat: no-repeat;
	height: 150px;
	margin-left: 242px;
}

.addLLeg{
	background-image: url("left-leg.png");
	background-size: 10px;
	background-repeat: no-repeat;
	height: 150px;
	margin-left: 242px;
}

.addRHand{
	background-image: 
	background-color: red;
}

.addLHand{
	background-image: 
	background-color: red;
}

.addRFoot{
	background-image: 
	background-color: red;
}

.addLFoot{
	background-image: 
	background-color: red;
}

.addSFace{
	background-image: 
}

.addHFace{

}

.box{
	width: 75px;
	height: 75px;
}